@media only screen and (max-width: 1267px) {
  .carousel-captions{
    padding-bottom: 9.25rem;
  }
  }
  
@media only screen and (max-width: 1320px) {
  .card_video {
    display: flex;
    position: relative;
    justify-content: center;
    top: -286px;
  }

  .youtube-img {
    position: absolute;
    width: 423px;
  }

  .youtube {
    position: absolute;
    width: 61px;
    display: flex;
    top: 110px;
  }
}
@media only screen and (max-width: 1000px) {
  .card_video {
    display: flex;
    position: relative;
    justify-content: center;
    top: -216px;
}
  .youtube-img {
    position: absolute;
    width: 309px;
}
  .youtube {
    position: absolute;
    width: 46px;
    display: flex;
    top: 77px;
}
.about_img{
  display: flex;
  justify-content: center;
}
.about_img1{
  width: 60%;

}
}

@media only screen and (max-width: 860px) {
  .card_video {
    display: flex;
    position: relative;
    justify-content: center;
    top: -188px;
  }

  .youtube-img {
    position: absolute;
    width: 300;
  }

  .youtube {
    position: absolute;
    width: 56px;
    display: flex;
    top: 78px;
  }
}

@media only screen and (max-width: 760px) {
  .img_text2{
    font-size: 40px;
  }
  .mapcard {
    /* width: 0; */
    /* grid-template-columns: 1fr 1fr; */
    top: 25px;
  }

  .card_act {
    padding: 10;
  }

  .card_img1 {
    padding-right: 5px;
    height: 30;
  }

  .gallerycard h5 {
    font-size: 10px;
  }

  .centered svg {
    width: 23px;
  }

  .text {
    font-size: 8px;
  }

  .text h3 {
    font-size: 15px;
  }

  .card_body {
    font-size: 10px;
  }
  .prevention{
    height: 70vh;
  }
  .content{
    padding: 0px;
    top:18px;
  }
  .accordion-body{
    font-size: 12px;
  }
  .says{
    font-size: 12px;
  }
  .contact ul{
    grid-template-columns: repeat(2, 1fr);
  }
  .inform{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navg{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .links{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .copyright {
    padding: 2;
    width: 100%;
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -120px;
}
}

@media only screen and (max-width: 640px) {
  .card_video {
    display: flex;
    position: relative;
    justify-content: center;
    top: -121px;
  }

  .youtube-img {
    position: absolute;
    width: 215px;
  }

  .youtube {
    position: absolute;
    width: 42px;
    display: flex;
    top: 57px;
  }
  .lockdown{
    width: 182px;
    height: fit-content;
  }
}
@media only screen and (max-width: 574px) {
  .card_act {
    padding: 0;
  }
}