@media only screen and (max-width: 1000px) {
  .navbar {
    flex-direction: row;
    justify-content: flex-end;

  }



}

@media only screen and (max-width: 1199px) {
  .carousel-captions{
    top:400;
  }
  
  .about_img {
    position: relative;
    height: 80vh;
  }

  .about_img1 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;

  }

  .about_img2 {
    position: absolute;
    top: 20px;
    left: 320px;
    width: 20%;

  }

  .about_img3 {
    position: absolute;
    top: 10px;
    left: 340px;
    width: 20%;
  }

  .about_corner_img {
    position: relative;
    bottom: 440px;
    left: 850px;

  }

  .mapcard {
    left: 0;
    top: 38;
  }

  .card_video {
    margin-left: 369px;
    height: 230px;
    width: 416px;
  }
  /* .card_video img{
    position: absolute;
    bottom: 197px;
    width: 95px;
    height: 93px;
  } */
  .youtube{
    position: absolute;
    z-index: 1;
    width: 100;
    bottom: 201px;
  }

  .spread {
    height: 100vh;
  }

  .card_act {
    padding: 3px;
  }

  .lockdown {
    height: 300px;
  }
  .patient{
    height:55vh;
  }
}


@media only screen and (max-width: 990px) {
  
  .card_video{
    margin-left: 209px;

  }

  .about_img {
    float: left;
    position: relative;
  }

  .about_img2 {
    position: absolute;
    top: 20px;
    left: 240px;
    width: 20%;

  }

  .about_img3 {
    position: absolute;
    top: 10px;
    left: 260px;
    width: 20%;
  }

  .about_corner_img {
    display: none;

  }
}

@media only screen and (max-width: 789px) {
  .about{
    height: 60vh;
  }
  .centered svg{
    width: 26;
    
  }
  .centered h5 h3{
    font-size: small;
  }
  .text h3{
    font-size: small;
  }
  .text{
    font-size: 10px;
  }
  .about_text {
    float: right;
    width: 50%;
    height: 100%;
    padding-top: 6rem;
    padding-left: 50px;
  }

  .about_text2 {
    font-size: x-large;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 4px;
    letter-spacing: 4px;
  }

  .about_img2 {
    position: absolute;
    top: 20px;
    left: 190px;
    width: 20%;

  }

  .about_img3 {
    position: absolute;
    top: 10px;
    left: 210px;
    width: 20%;
  }
}

@media only screen and (max-width: 762px) {
  
}